.env
.env.*
01 LOGIN DETAILS & PROJECT INFO.txt
!.env.example
production.env
setup-live.php
extract-deploy.php
tmp-live-controller.php
.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/vendor/composer/tmp-*.zip
*.zip
